/*
 * here is the cacading style sheet of the show page.
 */

#content #middlePart #special{
   width:180px;
   height:3px;
}

#content #middlePart #control {

    /*float:left;*/
}
#content {
    height:450px;
}
#content #stable {
    position:absolute;
    right:200px;
}
#content #newCss {
    width: 960px;
    margin: auto;
}
#content #leftPart {
    float:left;
    padding-left:80px;
    padding-right:60px; /* 250 */
    padding-top:50px;
}

#content #leftPart #p0,#p1,#p2,#p3,#p4{
    padding-left:15px;
    color:rgb(51, 204, 204);

}

#content #middlePart{
    padding-top:50px;
    float:left;
    padding-left:30px;
    padding-right:60px; /* 400 */
}

#content #middlePart #flo0, #flo1, #flo2, #flo3, #flo4 {
    float:left;
    font-size:16px;
    padding-right:18px;
}

#content #middlePart #flo5{
    float:left;
    font-size:16px;
    padding-right:32px;
}

#content #middlePart #flo6{
    float:left;
    font-size:16px;
    padding-right:25px;
}

#content #middlePart #flo7 {
    float:left;
    font-size:16px;
    padding-right:14px;
}

#content #middlePart img {
    width:80px;
    height:40px;
    padding-bottom:3px;
}

#content #rightPart {
    padding-top:50px;
    /*padding-right:320px;*/
    padding-left:80px;
    float:left;
}

#content #rightPart #x1, #x2, #x3, #x4 {
    color:rgb(51, 204, 204);
    padding-left:50px;
}

#content #rightPart #y1, #y2, #y3, #y4{
    padding-left: 70px;
}

#content #line1 {
    float:left;
}

#content #line2 {
    float:left;
}
